<launch>

  <!-- launch cameras with image processing pipelines -->
  <include file="$(find fugu_configurations)/launch/fugu-f/fugu-f-stereo-forward.launch"/>
  <include file="$(find fugu_configurations)/launch/fugu-f/fugu-f-stereo-down.launch"/>

  <node pkg="albatros_motor_board" type="motor_board_node" name="motor_board_node" output="screen" >
    <rosparam file="$(find fugu_configurations)/motor_board/params.yaml" />
  </node>

  <node pkg="alarm" type="alarm" name="emergency_alarm_node" output="screen">
    <param name="tolerance" value="1500" type="int" />
    <param name="status_publish_frequency" value="0.5" />
    <param name="actions" value="`echo $HOME`/waterinmonitor/init/waterinactions.sh" />
    <remap from ="humidity" to = "/motor_board/humidity"/>
  </node>

</launch>
