<launch>
  <arg name="stereo_forward_base_topic" default="stereo_forward" />
  <arg name="stereo_forward_camera_name" default="BB2_08S2C_38_1" />
  <arg name="calibration" default="boxed_water" />
  <arg name="standalone" default="true" />

  <include file="$(find fugu_configurations)/launch/common/stereo_camera.launch">
    <arg name="camera" value="$(arg stereo_forward_camera_name)" />
    <arg name="calibration" value="$(arg calibration)" />
    <arg name="standalone" value="$(arg standalone)" />
    <arg name="base_topic" value="$(arg stereo_forward_base_topic)" />
  </include>
  
  <include file="$(find fugu_configurations)/launch/common/stereo_pipeline.launch">
    <arg name="camera" value="$(arg stereo_forward_camera_name)" />
    <arg name="stereo" value="$(arg stereo_forward_base_topic)" />
    <arg name="standalone" value="$(arg standalone)" />
  </include>

</launch>
