<launch>

  <arg name="stereo" />
  <arg name="camera" />

  <arg name="manager" default="manager" />
  <arg name="standalone" default="false" />

  <include file="$(find fugu_configurations)/launch/common/stereo_image_proc.launch" >
    <arg name="stereo" value="$(arg stereo)" />
    <arg name="camera" value="$(arg camera)" />
    <arg name="standalone" value="$(arg standalone)" />
    <arg name="manager" value="$(arg manager)" />
  </include>

  <include file="$(find fugu_configurations)/launch/common/stereo_crop_decimate.launch" >
    <arg name="stereo" value="$(arg stereo)" />
    <arg name="standalone" value="$(arg standalone)" />
    <arg name="manager" value="$(arg manager)" />
  </include>

  <include file="$(find fugu_configurations)/launch/common/stereo_image_proc.launch" >
    <arg name="stereo" value="$(arg stereo)/scaled" />
    <arg name="camera" value="$(arg camera)/scaled" />
    <arg name="standalone" value="$(arg standalone)" />
    <arg name="manager" value="$(arg manager)" />
  </include> 
</launch>
