<launch>
  
  <node pkg="camera1394stereo" type="camera1394stereo_node" 
        name="narrow_camera_node" output="screen" >
    <rosparam file="$(find fugu_configurations)/camera_comp_narrow/params.yaml" />
    <param name="frame_id" value="stereo_camera" />
    <remap from="stereo_camera" to="narrow_stereo_camera" />
  </node>
  
</launch>
