<launch>

  <node pkg="camera1394stereo" type="camera1394stereo_node" name="forward_stereo_camera_node" output="screen" >
    <rosparam file="$(find fugu_configurations)/camera_flex_narrow/params.yaml" />
    <param name="frame_id" value="forward_stereo_camera" />
    <remap from="stereo_camera" to="forward_stereo_camera" />
  </node>
  
</launch>
