<launch>

  <node pkg="camera1394stereo" type="camera1394stereo_node" name="stereo_camera_node" output="screen" >
    <rosparam file="$(find fugu_configurations)/camera_flex_wide/params.yaml" />
  </node>

  <node pkg="camera_calibration" type="cameracalibrator.py" name="camera_calibrator" args="--size 8x6 --square=0.06" output="screen">
    <remap from="right" to="stereo_camera/right/image_raw" />
    <remap from="left" to="stereo_camera/left/image_raw" />
    <remap from="right_camera" to="stereo_camera/right" />
    <remap from="left_camera" to="stereo_camera/left" />
  </node>
  
</launch>
