<launch>

 <!-- <arg name="manager" default="manager" />
  <arg name="standalone" default="false" /> 

  <group if="$(arg standalone)"> -->

    <node pkg="depth" type="depth" name="depth" output="screen">
	<remap from ="pressure" to = "/motor_board/pressure"/>
    </node>
<!--  </group> -->  
</launch>
