<launch>

  <include file="$(find fugu_configurations)/launch/stereo_forward.launch" />

  <include file="$(find fugu_configurations)/launch/stereo_down.launch" />

<!-- activate motor board to read the pressure and humidity sensors data --> 
  <include file="$(find fugu_configurations)/launch/motor_board.launch" >
    <arg name="standalone" value="true" />  
  </include> 

  <include file="$(find fugu_configurations)/launch/depth.launch" /> 

  <include file="$(find fugu_configurations)/launch/alarm.launch" />

</launch>
