<launch>

 <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy" output="screen">
    <rosparam file="$(find fugu_configurations)/joystick/params.yaml" />
  </node>

 <!-- fugu_teleop_joy -->
  <node pkg="fugu_joy" type="fugu_teleop_joy" name="fugu_teleop_joy" output="screen">
    <rosparam file="$(find fugu_configurations)/teleop_joystick/params.yaml" />
  </node>

</launch>
