<launch>
  <include file="$(find fugu_configurations)/machines/fugu-c.machine"/>
  <include file="$(find fugu_configurations)/launch/wide_stereo_pipeline.launch"/>
  <include file="$(find fugu_configurations)/launch/narrow_stereo_pipeline.launch"/>
  <include file="$(find fugu_configurations)/launch/imu.launch"/>
  <include file="$(find fugu_configurations)/launch/console.launch"/>
</launch>
