<launch>

  <arg name="stereo" default="downward_stereo_camera" />
  <arg name="image" default="image_raw" />

  <node pkg="image_view" type="image_view" name="$(anon image_view)" >
    <remap from="image" to="$(arg stereo)/left/$(arg image)" />
  </node>

  <node pkg="image_view" type="image_view" name="$(anon image_view)" >
    <remap from="image" to="$(arg stereo)/right/$(arg image)" />
  </node>

</launch>
