<launch>
  <node pkg="nodelet" type="nodelet" name="vision_manager" args="manager" output="screen" />

  <include file="$(find fugu_configurations)/launch/stereo_camera.launch">
    <arg name="stereo" value="camera_comp_narrow" />
    <arg name="configuration" value="cylinder_air" />
    <!-- arg name="manager" value="/vision_manager" /-->
    <arg name="standalone" value="true" />
  </include>
  <include file="$(find fugu_configurations)/launch/stereo_pipeline.launch">
    <arg name="stereo" value="camera_comp_narrow" />
    <!-- arg name="manager" value="/vision_manager" /-->
    <arg name="standalone" value="true" />
  </include>

  <include file="$(find fugu_configurations)/launch/stereo_camera.launch">
    <arg name="stereo" value="camera_comp_wide" />
    <arg name="configuration" value="cylinder_air" />
    <!-- arg name="manager" value="/vision_manager" /-->
    <arg name="standalone" value="true" />
  </include>
  <include file="$(find fugu_configurations)/launch/stereo_pipeline.launch">
    <arg name="stereo" value="camera_comp_wide" />
    <!-- arg name="manager" value="/vision_manager" /-->
    <arg name="standalone" value="true" />
  </include>

<!--view a pair of stereo images -->
  <include file="$(find fugu_configurations)/launch/stereo_view.launch" >
    <arg name="image" value="image_raw" />  
    <arg name="stereo" value="camera_comp_narrow" /> 
  </include>
  <include file="$(find fugu_configurations)/launch/stereo_view.launch" >
    <arg name="image" value="image_raw" />  
    <arg name="stereo" value="camera_comp_wide" /> 
  </include>

</launch>
