<launch>
  <arg name="topics" default="" />
  <arg name="prefix" />
  <node pkg="rosbag" type="rosbag" name="rosbag" output="screen"
    args="record -o '$(find bagfiles)/nessie/$(arg prefix)'
      /camera_flex_wide/left/image_raw
      /camera_flex_wide/left/camera_info
      /camera_flex_wide/right/image_raw
      /camera_flex_wide/right/camera_info
      /nav/gps_from_origin
      /nav/hydro_nav_sts
      /nav/lbl_from_origin
      /nav/lbl_nav_sts
      /nav/nav_sts
      /nav/odometry
      /compass/orientation
      /dvl/motion
      /gps/nav_sat_fix
      /gyro/yaw_rate
      $(arg topics)" />
</launch>

