<launch>
    <arg name="camera" />

    <arg name="manager" />

    <group ns="$(arg camera)">
        <group ns="left">
            <node pkg="nodelet" type="nodelet" name="image_proc_debayer_left" 
                args="load image_proc/debayer $(arg manager)" 
                output="screen"/>
            <node pkg="nodelet" type="nodelet" name="image_proc_rectify_left"
                args="load image_proc/rectify $(arg manager)" 
                output="screen"/>
            <node pkg="nodelet" type="nodelet" name="image_proc_rectify_color_left"
                args="load image_proc/rectify $(arg manager)"
                output="screen">
                <remap from="image_mono" to="image_color" />
                <remap from="image_rect" to="image_rect_color" />
            </node>
        </group>
        <group ns="right">
            <node pkg="nodelet" type="nodelet" name="image_proc_debayer_right" 
                args="load image_proc/debayer $(arg manager)" 
                output="screen"/>
            <node pkg="nodelet" type="nodelet" name="image_proc_rectify_right"
                args="load image_proc/rectify $(arg manager)" 
                output="screen"/>
            <node pkg="nodelet" type="nodelet" name="image_proc_rectify_color_left"
                args="load image_proc/rectify $(arg manager)"
                output="screen">
                <remap from="image_mono" to="image_color" />
                <remap from="image_rect" to="image_rect_color" />
            </node>
        </group>
    </group>
</launch>

