<launch>
  <arg name="topics" default="" />
  <arg name="prefix" default="/media/DATA/bagfiles/" />
  <node machine="fugu-c" pkg="rosbag" type="rosbag" name="rosbag" output="screen"
    args="record -o '$(arg prefix)'
      /downward_stereo_camera/left/image_raw
      /downward_stereo_camera/left/camera_info
      /downward_stereo_camera/right/image_raw
      /downward_stereo_camera/right/camera_info
      /forward_stereo_camera/left/image_raw
      /forward_stereo_camera/left/camera_info
      /forward_stereo_camera/right/image_raw
      /forward_stereo_camera/right/camera_info
      $(arg topics)" />
</launch>

