<launch>

  <!-- 
      the camera parameters and calibration files are 
      selected according to the arguments:

      arg stereo defines which camera to use, 
      and also defines the base topic and the frame_id for the stereo images
      must be one of
        - camera_flex_narrow
        - camera_flex_wide
        - camera_comp_narrow
        - camera_comp_wide

      arg configuration defines the configuration, must be one of
        - boxed_air
        - boxed_water
        - open_air
        - cylinder_air 
        - cylinder_water
        - ...
  -->

  <arg name="stereo" />
  <arg name="configuration" />

  <arg name="manager" default="manager" />
  <arg name="standalone" default="false" />

  <group if="$(arg standalone)">
    <node pkg="camera1394stereo" type="camera1394stereo_node" name="$(arg stereo)_node" output="screen" >
      <rosparam file="$(find fugu_configurations)/$(arg stereo)/params.yaml" />
      <param name="frame_id" value="$(arg stereo)" />
      <param name="camera_info_url_left" value="file://$(find fugu_configurations)/$(arg stereo)/calibration_$(arg configuration)_left.yaml" />
      <param name="camera_info_url_right" value="file://$(find fugu_configurations)/$(arg stereo)/calibration_$(arg configuration)_right.yaml" />
      <remap from="stereo_camera" to="$(arg stereo)" />
    </node>
  </group>

  <group unless="$(arg standalone)">
    <node pkg="nodelet" type="nodelet" name="$(arg stereo)_node" output="screen"
          args="load camera1394stereo/driver $(arg manager)">
      <rosparam file="$(find fugu_configurations)/$(arg stereo)/params.yaml" />
      <param name="frame_id" value="$(arg stereo)" />
      <param name="camera_info_url_left" value="file://$(find fugu_configurations)/$(arg stereo)/calibration_$(arg configuration)_left.yaml" />
      <param name="camera_info_url_right" value="file://$(find fugu_configurations)/$(arg stereo)/calibration_$(arg configuration)_right.yaml" />
      <remap from="stereo_camera" to="$(arg stereo)" />
    </node>
  </group>

</launch>

