<launch>

  <!-- 
      the camera parameters and calibration files are 
      selected according to the arguments:

      arg name defines which camera to use, must be one of
        - camera_flex_narrow
        - camera_flex_wide
        - camera_comp_narrow
        - camera_comp_wide

      arg configuration defines the configuration, must be one of
        - boxed_air
        - boxed_water
        - open_air
        - cylinder_air
        - cylinder_water
        - ...
  -->

  <arg name="name" />
  <arg name="configuration" />

  <node pkg="camera1394stereo" type="camera1394stereo_node" name="$(arg name)_node" output="screen" >
    <rosparam file="$(find fugu_configurations)/$(arg name)/params.yaml" />
    <param name="frame_id" value="$(arg name)" />
    <param name="camera_info_url_left" value="file://$(find fugu_configurations)/$(arg name)/calibration_left_$(arg configuration).yaml" />
    <param name="camera_info_url_right" value="file://$(find fugu_configurations)/$(arg name)/calibration_right_$(arg configuration).yaml" />
    <remap from="stereo_camera" to="$(arg name)" />
  </node>
  
</launch>

