<launch>
  
  <arg name="manager" default="manager" />
  <arg name="standalone" default="false" />

  <!-- roslaunch ignores ROS_NAMESPACE environment variable and ns remapping -->
  <arg name="stereo" />

  <arg name="nodelet_args" if="$(arg standalone)" value="standalone image_proc_custom/crop_decimate" />
  <arg name="nodelet_args" unless="$(arg standalone)" value="load image_proc_custom/crop_decimate $(arg manager)" />
  
  <node pkg="nodelet" type="nodelet" name="image_proc_decimate_left" output="screen"
        args="$(arg nodelet_args)" >
    <param name="decimation_x" value="6" />
    <param name="decimation_y" value="6" />
    <remap from="camera" to="$(arg stereo)/left" /> 
    <remap from="camera_out" to="$(arg stereo)/scaled/left"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="image_proc_decimate_right" output="screen"
        args="$(arg nodelet_args)" >
    <param name="decimation_x" value="2" />
    <param name="decimation_y" value="2" />
    <remap from="camera" to="$(arg stereo)/right" /> 
    <remap from="camera_out" to="$(arg stereo)/scaled/right"/>
  </node>

</launch>
