<launch>

  <arg name="stereo" default="stereo_camera" />
  <arg name="image" default="image_raw" />
  <arg name="format" default="ppm" />

  <node pkg="image_view" type="image_view" name="image_view_left" >
    <remap from="image" to="$(arg stereo)/left/$(arg image)" />
    <param name="filename_format" value="$(arg stereo)_left_$(arg image)_%06i.$(arg format)"/>
  </node>

  <node pkg="image_view" type="image_view" name="image_view_right" >
    <remap from="image" to="$(arg stereo)/right/$(arg image)" />
    <param name="filename_format" value="$(arg stereo)_right_$(arg image)_%06i.$(arg format)"/>
  </node>

</launch>
