<launch>

  <!-- joy node -->
  <node machine="station" pkg="joy" type="joy_node" name="joy_node" output="screen">
    <rosparam file="$(find fugu_configurations)/joystick/params.yaml" />
  </node>

  <!-- fugu_teleop_joy -->
  <node machine="station" pkg="fugu_teleoperation" type="fugu_teleop_joy_node" 
        name="fugu_teleop_joy_node" output="screen">
    <rosparam file="$(find fugu_configurations)/teleoperation/params.yaml" />
  </node>

</launch>
