<launch>

  <include file="$(find fugu_configurations)/launch/camera_comp_wide.launch" />

  <include file="$(find fugu_configurations)/launch/camera_comp_narrow.launch" />

  <include file="$(find fugu_configurations)/launch/stereo_view.launch">
    <arg name="stereo" value="narrow_stereo_camera" />
  </include>

  <include file="$(find fugu_configurations)/launch/stereo_view.launch"> 
    <arg name="stereo" value="wide_stereo_camera" />
  </include>

</launch>
