<launch>

  <include file="$(find fugu_configurations)/launch/stereo_camera.launch" >
    <arg name="stereo" value="camera_comp_narrow" />
    <arg name="configuration" value="cylinder_air" />
    <arg name="standalone" value="true" />
  </include>

  <include file="$(find fugu_configurations)/launch/stereo_view.launch">
    <arg name="stereo" value="camera_comp_narrow" />
  </include>

  <include file="$(find fugu_configurations)/launch/stereo_camera.launch" >
    <arg name="stereo" value="camera_comp_wide" />
    <arg name="configuration" value="cylinder_air" />
    <arg name="standalone" value="true" />
  </include>

  <include file="$(find fugu_configurations)/launch/stereo_view.launch"> 
    <arg name="stereo" value="camera_comp_wide" />
  </include>

</launch>
