<launch>

  <arg name="manager" default="manager" />
  <arg name="standalone" default="false" />

  <group if="$(arg standalone)"> <!-- node tot sol, va contra un servidor -->
    <node pkg="thruster_allocation" type="thruster_allocation_node" name="thruster_allocation_node" output="screen" >
      <param name="name" value="fugu_comp_standard" />
      <param name="tam_info_url" value="package://fugu_configurations/thruster_allocation/tam_info.yaml" />
      <remap from="set_info" to="set_tam_info" />
      <remap from="motor_levels" to="motor_board/speeds_pc" />
    </node>
  </group>
  <!-- nodelet implica la seva execució en el mateix PC, standalone val false, necessita un manager dins el mateix PC 
  <group unless="$(arg standalone)"> -->
  <group unless="$(arg standalone)">
    <node pkg="nodelet" type="nodelet" name="thruster_allocation_node" output="screen"
          args="load thruster_allocation/thruster_allocation_nodelet $(arg manager)" >
      <param name="name" value="fugu_comp_standard" />
      <param name="tam_info_url" value="package://fugu_configurations/thruster_allocation/tam_info.yaml" />
      <remap from="set_info" to="set_tam_info" />
      <remap from="motor_levels" to="motor_board/speeds_pc" />
    </node>
  </group>

</launch>


