<launch>

  <arg name="stereo" default="camera_flex_wide" />
  <arg name="configuration" default="boxed_water" />

  <!-- We have to use absolute paths for the manager here because the sub-level launches
       use ns tags wherein the arg manager is used. If we don't use an absolute path to
       the manager, it would be searched inside these namespaces (e.g. /camera_flex_wide/left/vision_manager
       instead of /vision_manager) -->

  <node pkg="nodelet" type="nodelet" name="vision_manager" args="manager" output="screen" />

  <include file="$(find fugu_configurations)/launch/stereo_camera.launch">
    <arg name="stereo" value="$(arg stereo)" />
    <arg name="configuration" value="$(arg configuration)" />
    <arg name="manager" value="/vision_manager" />
  </include>
 
  <include file="$(find fugu_configurations)/launch/stereo_pipeline.launch" >
    <arg name="stereo" value="$(arg stereo)" />
    <arg name="manager" value="/vision_manager" />
  </include>

  <include file="$(find object_detection)/launch/object_detector.launch" >
     <arg name="image" value="$(arg stereo)/scaled/left/image_rect_color" />
     <arg name="manager" value="/vision_manager" />
     <arg name="models" value="target" />
     <arg name="show_images" value="false" />
     <arg name="standalone" value="false" />
  </include>

</launch>
