<launch>

  <rosparam file="$(find fugu_configurations)/auv_framework/control_params.yaml" />

  <node pkg="auv_control" type="thruster_allocator.py" name="thruster_allocator" output="screen" />

  <node pkg="auv_control" type="altitude_controller.py" name="altitude_controller" output="screen">
    <remap from="~wrench_output" to="wrench_request"/>
    <remap from="~wrench_input" to="fugu_teleoperation/altitude_control_wrench_policy/wrench" />
    <remap from="~altitude_request" to="altitude_request" />
  </node>

  <node pkg="auv_control" type="depth_controller.py" name="depth_controller" output="screen">
    <remap from="~wrench_output" to="wrench_request"/>
    <remap from="~wrench_input" to="fugu_teleoperation/depth_control_wrench_policy/wrench" />
    <remap from="~depth_request" to="depth_request" />
  </node>

</launch>
