<launch>
  <arg name="topics" default="" />
  <arg name="prefix" />
  <node pkg="rosbag" type="record" name="rosbag" output="screen"
    args="record --split --size=1000 -o '/data/$(arg prefix)'
      /stereo_down/left/image_raw
      /stereo_down/left/camera_info
      /stereo_down/right/image_raw
      /stereo_down/right/camera_info
      /motor_board/pressure
      /imu/data
      /imu/data_calibrated
      /imu/data_filtered
      /imu/data_filtered_calibrated
      /imu/mag
      /imu/mag_calibrated
      /imu/mag_filtered
      /imu/mag_filtered_calibrated
      /depth
      /motor_board/humidity	
      $(arg topics)" />
</launch>

