<launch>

  <arg name="stereo_down_base_topic" default="stereo_down" />
  <arg name="stereo_down_camera_name" default="BB2_08S2C_25_0" />
  <arg name="calibration" default="cylinder_water" />
  <arg name="standalone" default="true" />
  <arg name="camera_params" default="$(find fugu_configurations)/no_params.yaml" />

  <include file="$(find fugu_configurations)/launch/common/stereo_camera.launch">
    <arg name="camera" value="$(arg stereo_down_camera_name)" />
    <arg name="calibration" value="$(arg calibration)" />
    <arg name="base_topic" value="$(arg stereo_down_base_topic)" />
    <arg name="standalone" value="$(arg standalone)" />
    <arg name="camera_params" value="$(arg camera_params)" />
  </include>
  
  <include file="$(find fugu_configurations)/launch/common/stereo_pipeline.launch">
    <arg name="camera" value="$(arg stereo_down_camera_name)" />
    <arg name="stereo" value="$(arg stereo_down_base_topic)" />
    <arg name="standalone" value="$(arg standalone)" />
  </include>

</launch>
