<launch>

 <!-- imu_odom -->
  <arg name="data" default="imu/data_calibrated" />
  <node pkg="imu_odometer" type="imu_odom_node" name="imu_odom_node" output="screen">
    <rosparam file="$(find fugu_configurations)/imu_odometer/params.yaml" />
    <remap from="data" to="$(arg data)" />
    <param name="odometer_frame_id" value="imu_odom" type="string" />
    <param name="imu_frame_id" value="imu" type="string" />
  </node>
  
  <node pkg="rviz" type="rviz" name="$(anon rviz)" output="screen" />


</launch>
